
.block-v2{
    border: 1px solid red;
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}
.select-block{
    position: absolute;
    background: #00ff3a;
}
.img{
    position: absolute;
    /*top: 50px;*/
    /*left: 300px;*/
}
.upload-form{
    height: 440px;
    overflow: auto;
}
.alert-success,
.alert-danger{
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
}
.menu{
    background: #0000F0;
    color: #ffff;
}
.explanation{
    height: 400px;
    overflow: auto;
}
.explanation img{
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 31px;
    margin-bottom: 32px;
}
footer{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.img > img{
    border: 1px solid #eaeaea;
    cursor: pointer;
}
.block-popup{
    display: none;
    position: absolute;
    top: 20px;
    overflow: auto;
    left: 50px;
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 10px;
    z-index: 9999;
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.block-popup > h6{
    text-align: center;
}
.block-popup >img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    /*clear: both;*/
}
.block-popup > span{
    font-weight: bold;
    font-size: 0.95em;
    color: #596167;
}
.block-popup > p{
    margin-top: 10px;
}
footer{
    background: #0000F0;
    height: 50px;
    padding: 13px;
    color: #fff;
    margin-bottom: 0px;
}
.select-menu{
    background: blue;
    color: #fff;
    border: 1px solid #0b0bd0;
    font-weight: bold;
}
/*admin*/
.left-menu{
    /*width: 250px;*/
    height: 100%;
    /*padding: 10px;*/
    background: #5a6268;
    /*float: left;*/
    /*margin-right: 10px;*/
}
.block-content{
    width: 100%;
}
.punct-l{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #7d7d7d;
    background: #949494;
}
/*active color #30ca44*/
.punct-l a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.punct-l:hover{
    cursor: pointer;
    /*color: #d8d6d6;*/
    background: #30ca44;
}
.punct-active{
    background: #30ca44;
}
.buttonex{
    display: inline-block;
    color: white;
    background: #71bc37;
    border: solid #71bc37;
    border-width: 10px 20px 8px;
    font-weight: bold;
    border-radius: 4px;
}
.header-block{
    width: 300px;
}
.header-block > h3{
    float: left;
    margin-right: 10px;
}